
:root {
    --lll-type-hero-gde-desktop: 380 6.25rem/7.5rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-hero-gde-tablet: 380 5rem/5rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-hero-gde-mobile: 380 3.5rem/3.5rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;

    --lll-type-heading-gde-mobile-display: 380 3.5rem/3.99rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-mobile-extra-extra-large: 380 2.25rem/2.7rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-mobile-extra-large: 380 1.75rem/1.925rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-mobile-large: 380 1.25rem/1.5rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-tablet-display: 380 5rem/5.8rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-tablet-extra-extra-large: 380 3.5rem/4.2rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-tablet-extra-large: 380 2rem/2.4rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-tablet-large: 380 1.5rem/1.95rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-desktop-display: 380 6.25rem/6.875rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-desktop-extra-extra-large: 380 4rem/4.4rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-desktop-extra-large: 380 2.5rem/3rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-gde-desktop-large:380 1.75rem/2.275rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;

    /* --lll-type-button-gde-regular: 570 0.875rem/1rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-button-gde-large: 570 1rem/1.4rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif; */

    --lll-animation-speed-extra-fast: 125ms;
    --lll-animation-speed-fast: 250ms;
    --lll-animation-speed-medium: 500ms;
    --lll-animation-speed-slow: 1000ms;
    --lll-animation-speed-extra-slow: 2000ms;
    --lll-color-background-default: #fafafa;
    --lll-color-background-alternative: #fff;
    --lll-color-background-footer: #fff;
    --lll-color-background-grey: #fdfdf6;
    --lll-color-background-yellow-swipe: #f4ff8e;
    --lll-color-background-grey-swipe: #c8c2b8;
    --lll-color-background-gray-bone: #efeeec;
    --lll-color-background-off-black-30: rgba(20,15,15,.3);
    --lll-color-background-off-black-50: rgba(20,15,15,.5);
    --lll-color-background-off-black-66: rgba(20,15,15,.66);
    --lll-color-background-off-black-80: rgba(20,15,15,.8);
    --lll-color-background-off-white-30: hsla(60,64%,98%,.19);
    --lll-color-background-off-white-50: hsla(60,64%,98%,.19);
    --lll-color-background-off-bone-80: hsla(40,9%,93%,.8);
    --lll-color-background-off-bone-50: hsla(40,9%,93%,.5);
    --lll-color-background-wilderness: #142a0e;
    --lll-color-background-mossy: #524a43;
    --lll-color-background-zest: #f3fed7;
    --lll-color-background-daydream: #c0ddff;
    --lll-color-background-primary-off-black: #140f0f;
    --lll-color-background-hot-heat-secondary: #de212f;
    --lll-color-border-default: #8d9196;
    --lll-color-border-disabled: #d3d5d7;
    --lll-color-border-subdued: #d3d5d7;
    --lll-color-border-strong: #000;
    --lll-color-border-inverse: #fff;
    --lll-color-border-message: #53565a;
    --lll-color-border-focus: #005fcc;
    --lll-color-border-accent: #c8102e;
    --lll-color-border-success: #0f752f;
    --lll-color-border-error: #d20014;
    --lll-color-border-info: #2966b0;
    --lll-color-border-warning: #8a6c00;
    --lll-color-icon-yogo-default: #140f0f;
    --lll-color-icon-yogo-inverse: #fdfdf8;
    --lll-color-icon-default: #000;
    --lll-color-icon-subdued: #8d9196;
    --lll-color-icon-disabled: #d3d5d7;
    --lll-color-icon-inverse: #fff;
    --lll-color-icon-accent: #c8102e;
    --lll-color-icon-success: #0f752f;
    --lll-color-icon-info: #2966b0;
    --lll-color-icon-warning: #8a6c00;
    --lll-color-icon-error: #d20014;
    --lll-color-interactive-priority-default: #c8102e;
    --lll-color-interactive-priority-hover: #a00d25;
    --lll-color-interactive-priority-disabled: #8d9196;
    --lll-color-interactive-filled-default: #000;
    --lll-color-interactive-filled-hover: #53565a;
    --lll-color-interactive-filled-disabled: #8d9196;
    --lll-color-interactive-outlined-default: #fff;
    --lll-color-interactive-outlined-hover: #000;
    --lll-color-interactive-outlined-disabled: #8d9196;
    --lll-color-surface-default: #fff;
    --lll-color-surface-subdued: #e5e6e7;
    --lll-color-surface-inverse: #000;
    --lll-color-surface-subdued-inverse: #8d9196;
    --lll-color-surface-alternative: #fafafa;
    --lll-color-surface-success: #ddfbe7;
    --lll-color-surface-info: #e7eff9;
    --lll-color-surface-warning: #fff7da;
    --lll-color-surface-error: #ffe1e4;
    --lll-color-text-default: #000;
    --lll-color-text-subdued: #53565a;
    --lll-color-text-disabled: #6b6f74;
    --lll-color-text-inverse: #fff;
    --lll-color-text-accent: #c8102e;
    --lll-color-text-info: #2966b0;
    --lll-color-text-success: #0f752f;
    --lll-color-text-warning: #8a6c00;
    --lll-color-text-error: #d20014;
    --lll-color-text-inverse-light: transparent;
    --lll-color-text-nomad: #7f746c;
    --lll-color-text-strock: #140f10;
    --lll-color-text-off-black: #140f0f;
    --lll-color-text-off-black-30: rgba(20,15,15,.3);
    --lll-color-text-off-black-50: rgba(20,15,15,.5);
    --lll-color-text-off-black-66: rgba(20,15,15,.66);
    --lll-color-text-off-black-80: rgba(20,15,15,.8);
    --lll-grid-gutter-width-small: 0.625rem;
    --lll-grid-gutter-width-medium: 0.938rem;
    --lll-grid-gutter-width-large: 1.563rem;
    --lll-grid-width-maximum: 82.625rem;
    --lll-type-body-large: 400 1.188rem/1.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-medium: 400 1.063rem/1.25rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-small: 400 0.875rem/1.25rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-extra-small: 400 0.875rem/1rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-family-default: "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-family-rebrand: "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-display: 600 4.5rem/4.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-extra-extra-large: 600 3.5rem/3.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-extra-large: 600 3rem/3.25rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-large: 600 2.25rem/2.75rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-medium: 600 1.875rem/2rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-small: 600 1.625rem/1.75rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-mobile-extra-small: 600 1.375rem/1.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-display: 600 6.25rem/5.75rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-extra-extra-large: 600 4.5rem/4.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-extra-large: 600 3.563rem/3.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-large: 600 3rem/3rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-medium: 600 2.5rem/3rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-small: 600 1.875rem/2rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-heading-extra-small: 600 1.5rem/1.75rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-label-button: 600 1rem/1.2 "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-label-large: 500 1.188rem/1.5rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-label-medium: 500 1.063rem/1.25rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-label-small: 500 0.875rem/1.25rem "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-label-extra-small: 600 0.875rem/1.2 "Calibre","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-extra-large: 380 1.625rem/2.275rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-large: 380 1.25rem/1.75rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-large-medium: 570 1.25rem/1.75rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-large: 380 1.125rem/1.575rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-large-medium: 570 1.125rem/1.575rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-medium-semibold: 670 1rem/1.4rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-medium: 570 1rem/1.4rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-medium-regular: 380 1rem/1.3rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-medium-card: 380 1rem/1.2rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-large-card: 380 1.125rem/1.4625rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-small: 380 0.875rem/1.225rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-small-medium: 570 0.875rem/1.225rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-small-semibold: 670 0.75rem/1.05rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-small-medium: 570 0.75rem/1.05rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-extra-small: 380 0.75rem/1.05rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;
    --lll-type-body-gde-caption: 570 0.75rem/0.975rem "Saans","Helvetica","Helvetica Neue","Roboto",sans-serif;

    /* --lll-type-letter-spacing-h1: -0.25rem;
    --lll-type-letter-spacing-h1-tablet: -0.2rem;
    --lll-type-letter-spacing-h1-mobile: -0.14rem;
    --lll-type-letter-spacing-h2: -0.16rem;
    --lll-type-letter-spacing-h2-tablet: -0.14rem;
    --lll-type-letter-spacing-h2-mobile: -0.09rem;
    --lll-type-letter-spacing-h3: -0.05rem;
    --lll-type-letter-spacing-h3-tablet: -0.04rem;
    --lll-type-letter-spacing-h3-mobile: -0.035rem;
    --lll-type-letter-spacing-h4: -0.035rem;
    --lll-type-letter-spacing-h4-tablet: -0.030rem;
    --lll-type-letter-spacing-h4-mobile: -0.025rem;
    --lll-type-letter-spacing-body-extra-large: 0.0125rem;
    --lll-type-letter-spacing-body-large: 0.01125rem;
    --lll-type-letter-spacing-body-card: -0.01rem;
    --lll-type-letter-spacing-body-large-plus: 0.01125rem;
    --lll-type-letter-spacing-zero: 0;
    --lll-type-letter-spacing-hero-desktop: -0.25rem;
    --lll-type-letter-spacing-hero-tablet: -0.2rem;
    --lll-type-letter-spacing-hero-mobile: -0.14rem;
    --lll-type-letter-spacing-hero-description-desktop: 0.01625rem;
    --lll-type-letter-spacing-hero-description-tablet: 0.01625rem;
    --lll-type-letter-spacing-hero-description-mobile: 0.01625rem;
    --lll-type-letter-spacing-nav-levelone-desktop: 0.0125rem;
    --lll-type-letter-spacing-nav-levelone-tablet: -0.030rem */
}

