.hero-wrapper {
	position: relative;
	overflow: hidden
}

@media screen and (max-width: 736px) {
    .hero-component_productGallery__L4hQh {
	height: 100vh; /* full viewport height */
	min-height: 400px; /* Minimum height for small screens */
    }
}
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .hero-component_overlay__koYq_ {
    top: 15%;
  }
}

/* Nuka Carousel fixes */
.nuka-container,
.nuka-slide-container,
.nuka-overflow,
.nuka-wrapper {
  height: 100%;
}

/* fix Videos Side-by-Side After Adding Carousel */
.hero-component_mediaWrapper__h9ZA6 {
  min-width: 100vw;  /* or 100% */
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
}

/* 让 wrapper 不要自动 fit content */
.nuka-wrapper {
  display: flex;
  height: 100%;
}